<footer class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="grid-row">
      <div class="unit1of3">
        <div class="richtext"><%== block.child_value("contact_info") %></div>
        <%== ApplicationHelper.social_links(site.id, "circle", "white") %>
      </div>
      <div class="unit1of3">
        <a href="<%= block.child_value('button_url') %>" class="btn color-outline"><%= block.child_value('button_text') %></a>
      </div>
      <div class="unit1of3">
        <h3>Hours</h3>
        <p>Mon-Fri: 5:45am - 7:00pm</p>
        <p>Sat: 8:00am - 12:00pm</p>
        <p>Sun: By Appointment Only</p>
      </div>
    </div>
    <section class="nine">
          <a href="http://www.nine.is" target="_blank">
            <%= render 'svg/nine' %>
          </a>
        </section>
  </div>
</footer>