<div class="content_wrapper" id='block_<%= block.id %>'>
  <div class="content_body home-content">
    <% if controller_view_content && controller_view_content.strip.length > 0 %>
      <% if block.constrain == true %><div class='constrain'><% end %>
      <%= raw controller_view_content %>
      <% if block.constrain == true %></div><% end %>
    <% elsif post %>
      <%= raw block.partial('post', local_assigns) %>
    <% elsif block.children.count > 0 %>
      <%
      constrain_all = block.constrain_all
      outer_header = block.constrain == true ? (constrain_all ? "<div class='constrain'>" : '') : ''
      outer_footer = block.constrain == true ? (constrain_all ? "</div>" : '') : ''
      inner_header = block.constrain == true ? (constrain_all ? '' : "<div class='constrain'>") : ''
      inner_footer = block.constrain == true ? (constrain_all ? '' : "</div>") : ''      
      %>
      <%= raw outer_header %>
      <% block.children.each do |b| %>
        <% if block.constrain && !b.full_width %><%= raw inner_header %><% end %>
        <%= raw block.render(b, local_assigns) %>
        <% if block.constrain && !b.full_width %><%= raw inner_footer %><% end %>
      <% end %>
      <%= raw outer_footer %>
    <% end %>
  </div>
</div>

<% content_for :css do %>
<style>
.home-content { padding: <%= page.custom_field_value('vertical_padding') %> 0;}
</style>
<% end %>

<% content_for :js do %>
<script>
function resize_line() {
  var a = $(window).width() / 2;
  var b = $("#block_100976 > div.constrain > div > div").position().left;
  var c = $("#block_100976 > div.constrain > div > div").width();
  var d = c / 2;
  var x = (((b - a) + d)) + 2;
  $("#invisible-box").css("width",x);
}
$(document).ready(function() {
  resize_line();
  $("#invisible-box").css("opacity",1);
});
$(window).resize(function() {
  resize_line();
});
$("#block_100958 > div.constrain > div > div.block-button > a").click(function(event) {
  event.preventDefault();
  $("html, body").animate({ scrollTop: $("#block_100976").offset().top }, 500);
});
</script>
<% end %>