<% p = @product %>

<div class="product-details" id="product" data-id="<%= p.id %>">
  <div class="constrain">                            
    <div id="product-images"></div>
    <section class="product-details-wrapper">
      <h1 class="product-title"><%= @product.title %></h1>
      <% unless @product.description.nil? or @product.description.empty? %>
        <div class="box"><%= raw @product.description %></div>
      <% end %>        
      <div id="product-options"></div>
      <div id="product-price"></div>
      <div id="add-to-cart"></div>                                    
    </section>
  </div>
</div>

<%= content_for :css do %>
  <%= stylesheet_link_tag 'caboose/product_images' %>
  <%= stylesheet_link_tag 'caboose/product_options' %>   
<% end %>

<%= content_for :js do %>
  <%= javascript_include_tag 'caboose/imageZoom' %>
  <%= javascript_include_tag 'caboose/cart' %>
  <%= javascript_include_tag 'caboose/product' %>
  <script type='text/javascript'>
  var controller = false;
  $(document).ready(function() {
    controller = new ProductController({
      product_id: <%= @product.id %>    
    });
  });
  </script>
<% end %>
