<% post_limit = block.child_value("posts_to_show").blank? ? 10 : block.child_value("posts_to_show").to_i %>
<% page_number = 1 %>
<% 
	off_set = 0 
	begin
		if params[:page]
 			off_set = (params[:page].to_i - 1) * post_limit
 			page_number = params[:page].to_i
		end
	rescue
		off_set = 0
	end
	if off_set < 0 
		off_set = 0
	end
%>

<% posts = Caboose::Post.where(:site_id => site.id, :published => true).order("created_at DESC").offset(off_set).limit(post_limit) %>

<% if block.child_value('post_category') != "All" %>
	<% cat = Caboose::PostCategory.where(:id => block.child_value('post_category')).last %>
	<% if cat %>
		<% posts = cat.posts.where(:site_id => site.id, :published => true).order("created_at DESC").offset(off_set).limit(post_limit) %>
	<% end %>
<% end %>
<% post_count = Caboose::Post.where(:site_id => site.id, :published => true).count %>


<div class="news-list-block" id="block_<%= block.id %>">
	<div class="constrain">
		<% if !block.child_value("section_title").blank? %>
			<div class="news-list-title">
				<h2 class="text"><%= block.child_value("section_title") %></h2>
			</div>
		<% end %>

		<% if posts.count > 0 %>
			<% posts.each_with_index do |p| %>
				<div class="post-unit clearfix">
					<% if p.image && !p.image.url.blank? && !p.image.url.include?('placehold') %>
						<div class="image-holder" style="overflow:hidden;">
							<img src="<%= p.image.url(:large) %>" />
						</div>
					<% else %>
						<div class="image-holder" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/<%= site.name %>/images/placeholder.png');"></div>
					<% end %>
          <div class="post-text">
					  <h4 class="post-title">
					  	<%= p.title %>
							<% if !p.author.blank? %><span class="author"><%= p.author %></span><% end %>
					  </h4>
					  <% if !p.subtitle.blank? %><h5 class="subtitle"><%= p.subtitle %></h5><% end %>
					  <h6 class="post-date"><%== (p.created_at - 6.hours).strftime("%B %-d, %Y<span class='time'>, %l:%M%P</span>") %></h6>
					  <% src_text = p.preview %>
					  <% if p.preview.blank? && !p.body.blank? %>
							<% src_text = p.body %>
					  <% end %>
					  <% if !src_text.blank? %>
	            <div class="post-excerpt">
	              <% 
	                html = Nokogiri::HTML( src_text ) 
	                text = html.at('body').inner_text
	                words = text.blank? ? "" : text.split[0..30] 
	              %>
	              <% if !words.blank? && words.count > 29 %>
	              	<%= words.blank? ? "" : words.join(' ') + " ..." %>
	              <% else %>
									<%= words.blank? ? "" : words.join(' ') %>
	              <% end %>
	            </div>
	          <% end %>
            <% if p.custom_field_value('redirect_url').blank? %>
            	<a href="<%= p.uri %>" class="btn">Read More</a>
            <% else %>
							<a href="<%= p.custom_field_value('redirect_url') %>" target="_blank" class="btn">Read More</a>
            <% end %>
          </div>
				</div>
			<% end %>
			<div class="page-buttons">
				<% if page_number > 1 %>
					<a href="/<%= page.uri %>?page=<%= page_number - 1 %>" class="prev btn">Previous Page</a>
				<% end %>
				<% if page_number < (post_count.to_f / post_limit.to_f) %>
					<a href="/<%= page.uri %>?page=<%= page_number + 1 %>" class="next btn">Next Page</a>
				<% end %>
			</div>
		<% else %>
			<p>Sorry, no news to display now. Check back later!</p>
		<% end %>
	</div>
</div>