<% img_url = block.child_value('banner_image') && block.child_value('banner_image').url.include?('placehold') ? "" : block.child_value('banner_image') %>

<div class="header-wrapper subpage" id="block_<%= block.id %>">
  <div class="top">
    <div class="constrain">
      <div class="left">
        <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
          <span>toggle menu</span>
        </a>
        <a href="/" title="Home" class="link home">Home</a>
        <% if !logged_in_user || logged_in_user.username == 'elo' %>
          <a href="/member-login" title="Login" class="link login">Member Login</a>
        <% else %>
          <a href="/my-account" title="My Account" class="link">My Account</a>
          <a href="/logout" title="Logout" class="link">Logout</a>
        <% end %>
      </div>
      <div class="right">
        <div class="search-wrapper">
          <form action="/search" method="get">
            <input type="text" name="q" placeholder="Search" />
            <a href="#" id="submit-search" class="icon-search"></a>
          </form>
        </div>
        <%== ApplicationHelper.social_links(site.id, "circle", "dark") %>
      </div>
    </div>
  </div>
  <div class="banner main-menu-block" <% if !img_url.blank? %> style="background-image:url(<%= img_url %>);"<% end %> >
    <div class="overlay">
      <h1 class="page-title"><%= page.title %></h1>
    </div>
    <% if !logged_in_user || logged_in_user.username == 'elo' %>
      <a href="/member-registration" title="Become a Member" class="badge sub">
        <span>Become A<br />Member</span>
        <span class="down"></span>
      </a>
    <% end %>
    <nav class="reveal">
      <ul class="flexbox">
        <% pages = Caboose::Page.index_page(site.id) ? Caboose::Page.index_page(site.id).children.where(:hide => false).order(:sort_order).all : [] %>
        <% pages.each_with_index do |p,i| %>
          <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
          <li class="top-li">
            <% if subpages.count > 0 %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
              <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
                <div class="contain">
                  <ul class="level-2">
                    <% subpages.each do |s| %>
                      <li class="li-2">
                        <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                        <% if grandchildren.count > 0 %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <ul class="level-3">
                            <% grandchildren.each do |g| %>
                              <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                            <% end %>
                          </ul>
                        <% else %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% else %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>