<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<!--[if lt IE 9]><script src="/html5shiv.js"></script><![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="content-language" content="en-gb">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% title = post ? post.title : page.title %>
    <title><%= title %> | <%= site.description %></title>
    <meta property="og:site_name" content="<%= site.description %>"/>
    <meta name="twitter:card" content="summary">
    <% desc = page.meta_description.blank? ? "Black Warrior Brewing Co. is downtown Tuscaloosa's favorite craft brewery located on University Blvd, just across from City Hall." : page.meta_description %>
    <% domain = site.primary_domain.domain %>
    <% if post %>
      <% 
        if post.preview && !post.preview.blank?
          html = Nokogiri::HTML( post.preview ) 
          text = html.at('body').inner_text
          words = text.blank? ? "" : text.split[0..30]
          preview = words.blank? ? "" : words.join(' ')
        else
          preview = desc
        end
      %>
      <meta name="description" content="<%= preview %>" />
      <meta property="og:url" content="http://<%= domain %><%= post.uri %>" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="<%= preview %>" />
      <meta property="og:image" content="<%= post.image.url(:large) %>"/>
      <meta name="twitter:description" content="<%= preview %>">
      <meta name="twitter:image" content="<%= post.image.url(:large) %>">
    <% else %>
      <meta property="og:url" content="http://<%= domain %>/<%= page.uri %>" />
      <meta property="og:description" content="<%= desc %>" />
      <meta name="description" content="<%= desc %>" />
      <meta name="twitter:description" content="<%= desc %>">
      <meta property="og:image" content="http://cabooseit.s3.amazonaws.com/assets/bwb/images/screenshot.jpg"/>
      <meta name="twitter:image" content="http://cabooseit.s3.amazonaws.com/assets/bwb/images/screenshot.jpg">
    <% end %>
    <meta property="og:title" content="<%= title %>" />
    <meta name="twitter:title" content="<%= title %>">
    <%= render :partial => "caboose/blocks/bwb/icons" %>
    <%= render :partial => "caboose/blocks/bwb/fonts", :locals => {:site => site} %>
    <%= raw css %>
    <%= raw csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "caboose/blocks/bwb/mobile_navigation", :locals => {:editing => editing, :site => site} %>
    <div class="container" id='block_<%= block.id %>'>
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <%= render :partial => "caboose/blocks/bwb/overlay_nav", :locals => {:editing => editing, :site => site} %>
      <%= raw block.render('header' , local_assigns) %>
      <%= raw block.render('content', local_assigns) %>
      <%= raw block.render('footer' , local_assigns) %>
    </div>
  <%= raw js %>
  </body>
</html>