<%
pp_title = block.child_value('popup_title')
pp_text = block.child_value('popup_text')
show_popup = block.child_value('show_popup')
%>

<% if show_popup == 'yes' && !editing %>
<div class="fullscreen-overlay" id="message-modal">
  <div class="table modal-wrapper">
    <div class="table-cell">
      <div class="modal">
        <a id="close-message-modal" class="icon-close"></a>
        <div class="message-wrapper">
          <img src="<%= asset_path 'alabamaone/images/main_logo.png' %>" alt="Alabama One Credit Union" width="239" height="79" />
          <h4 style="margin-top:15px;"><%= pp_title %></h4>
          <div class="richtext" style="font-size:14px;"><%== pp_text %></div>
          <br />
          <a href="#" target="_blank" class="btn" id="close-message-button">Continue to Site</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="header-wrapper" id="block_<%= block.id %>">
  <div class="top">
    <div class="constrain">
      <p class="routing">Routing Number 262277189</p>
      <ul class="links">
        <li><a href="/contact-us" title="Contact Us">Contact Us</a></li>
        <li><a href="/promotions" title="Current promotions">Current Promotions</a></li>
      </ul>
      <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
    </div>
  </div>
  <header class="main home">
    <div class="constrain flexbox">
      <a class="logo-link" href="/" title="<%= site.description %>">
        <img src="<%= site.logo.url(:large) %>" alt="<%= site.description %>" />
      </a>
      <nav class="reveal">
        <ul>
<!--           <li><a href="/" title="Home">Home</a></li> -->
          <% pages = Caboose::Page.index_page(site.id) ? Caboose::Page.index_page(site.id).children.where(:hide => false).order(:sort_order).all : [] %>
          <% pages.each_with_index do |p,i| %>
            <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
            <li class="top-li">
              <% if subpages.count > 0 %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
                <div class="dropdown <%= (pages.count - i < 4) ? 'right' : '' %>">
                  <div class="contain">
                    <ul class="level-2">
                      <% subpages.each do |s| %>
                        <li class="li-2">
                          <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                          <% if grandchildren.count > 0 %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                            <ul class="level-3">
                              <% grandchildren.each do |g| %>
                                <% next if g.parent_id == 3052 %>
                                <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                              <% end %>
                            </ul>
                          <% else %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% else %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div class="menu-link conceal">
        <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx" href="#mmenu" title="Menu">
          <span>toggle menu</span>
        </a>
        <span>menu</span>
      </div>
    </div>
  </header>
</div>

<% if show_popup == 'yes' %>
<% content_for :js do %>
<script>
  $(window).load(function() {
    $('#message-modal').fadeIn();
  });
</script>
<% end %>
<% end %>