<div class="col-md-6 col-sm-12 col-xs-12" id="block_<%=block.id %>">
  <div class="service">
    <div class="icon-wrapper">
     <!--  <span class="circle"> -->
      	<img src="<%= block.child_value('icon').url(:large) %>" alt="<%= block.child_value('title') %>">
     <!--  </span> -->
    </div>
    <h3><%= block.child_value('title') %></h3>
    <%== block.child_value('body') %>               
  </div>
</div>