<header class="main home" id="block_<%= block.id %>">
  <div class="overlay"></div>
  <div class="video-bg loading"></div>
  <div class="top-bar">
    <div class="constrain">
      <nav class="reveal">
        <ul>
          <% pages = Caboose::Page.index_page(site.id) ? Caboose::Page.index_page(site.id).children.where(:hide => false).order(:sort_order).all : [] %>
          <% pages.each_with_index do |p,i| %>
            <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
            <li class="top-li">
              <% if subpages.count > 0 %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
                <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
                  <div class="contain">
                    <ul class="level-2">
                      <% subpages.each do |s| %>
                        <li class="li-2">
                          <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                          <% if grandchildren.count > 0 %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                            <ul class="level-3">
                              <% grandchildren.each do |g| %>
                                <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                              <% end %>
                            </ul>
                          <% else %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% else %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
      <%== ApplicationHelper.social_links(site.id, "icon", "colored") %>
      <a href="http://www.nine.is" target="_blank" class="website">NINE.IS</a>
    </div>
  </div>
  <div class="banner-content">
<!--     <span class="website-name">WWW.NINE.CODES</span> -->

    <div class="icon-holder">
      <div class="constrain">
        <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
        <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx" href="#mmenu" title="Menu">
          <span>toggle menu</span>
        </a>
      </div>
    </div>
    <div class="table">
      <div class="table-cell">
        <img src="<%= asset_path('ninecodes/images/main_logo.png').gsub('http://','//') %>" alt="Nine Codes" class="logo" width="200" height="222" />
        <div class="buttons">
          <a href="/collaborate" class="btn">Learn More</a>
          <a href="/educate" class="btn white-outline">See Our Classes</a>
        </div>
      </div>
    </div>
  </div>
</header>

<% content_for :js do %>
<script>
  $(document).ready(function() {
    $('header .video-bg').vide('https://cabooseit.s3.amazonaws.com/assets/ninecodes/images/code');
  });
  $(window).load(function() {
    $('header .video-bg').removeClass('loading');
  });
</script>
<% end %>