<div class="content_wrapper subpage" id='block_<%= block.id %>'>
  <% if !post %>
    <div class="constrain">
      <div class="breadcrumbs">
          <%== ApplicationHelper.breadcrumbs(page) %>
      </div>
      <h2 class="page-title"><%= page.title %></h2>
    </div>
  <% end %>
  <div class="content_body subpage-content">
    <% if controller_view_content && controller_view_content.strip.length > 0 %>
      <% if block.constrain == true %><div class='constrain'><% end %>
      <%= raw controller_view_content %>
      <% if block.constrain == true %></div><% end %>
    <% elsif post %>
      <%= raw block.partial('post', local_assigns) %>
    <% elsif block.children.count > 0 %>
      <%
      constrain_all = block.constrain_all
      outer_header = block.constrain == true ? (constrain_all ? "<div class='constrain'>" : '') : ''
      outer_footer = block.constrain == true ? (constrain_all ? "</div>" : '') : ''
      inner_header = block.constrain == true ? (constrain_all ? '' : "<div class='constrain'>") : ''
      inner_footer = block.constrain == true ? (constrain_all ? '' : "</div>") : ''
      %>
      <%= raw outer_header %>
      <% block.children.each do |b| %>
        <% if block.constrain && !b.full_width %><%= raw inner_header %><% end %>
        <%= raw block.render(b, local_assigns) %>
        <% if block.constrain && !b.full_width %><%= raw inner_footer %><% end %>
      <% end %>
      <%= raw outer_footer %>
    <% else %>
      <% if editing %>
        <p style="border:1px dashed gray;padding:10px;width:94%;margin:0 auto;text-align:center;cursor:pointer;">Empty content area. Click to add child blocks.</p>
      <% end %>
    <% end %>
  </div>
</div>
<% if page %>
  <% content_for :css do %>
  <style>
  .subpage-content { padding: <%= page.custom_field_value('vertical_padding') %> 0;}
  </style>
  <% end %>
<% end %>