<%
img_url = block.child_value('banner_image').url(:huge)
logo_url = block.child_value('logo_image').url(:huge)
%>

<header class="main home" id="block_<%= block.id %>" style="background-image:url(<%= img_url %>);">
  <div class="constrain">
    <nav class="reveal">
      <ul>
        <% pages = Caboose::Page.where(:parent_id => 2383, :hide => false).order(:sort_order).all %>
        <% pages.each_with_index do |p,i| %>
          <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
          <li class="top-li">
            <% if subpages.count > 0 %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
              <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
                <div class="contain">
                  <ul class="level-2">
                    <% subpages.each do |s| %>
                      <li class="li-2">
                        <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                        <% if grandchildren.count > 0 %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <ul class="level-3">
                            <% grandchildren.each do |g| %>
                              <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                            <% end %>
                          </ul>
                        <% else %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% else %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
      <span>toggle menu</span>
    </a>
    <img src="<%= logo_url %>" alt="<%= site.description %>" width="300" height="246" />
    <%== ApplicationHelper.social_links(site.id, "circle", "white") %>
  </div>
</header>