<div class="home-services" id="block_<%= block.id %>">
	<div class="constrain">
		<h3 class="section-title"><%= block.child_value('section_title') %></h3>
		<div class="description">
			<%== block.child_value('description') %>
		</div>
		<div class="grid-row">
			<div class="unit1of3" style="min-height:1px;">
<!-- 				<div class="letter-icon" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/arc/images/letter_1.jpg');">
					<span class="letter" style="padding-top:3px;"><%= block.child_value('letter_1') %></span>
				</div>
				<h5 class="letter-title"><%= block.child_value('title_1') %></h5>
				<div class="letter-content">
					<%== block.child_value('content_1') %>
				</div> -->
			</div>
			<div class="unit1of3" style="min-height:1px;">
				<div class="letter-icon" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/arc/images/letter_2.jpg');">
					<span class="letter" style="padding-top:4px;"><%= block.child_value('letter_2') %></span>
				</div>
				<h5 class="letter-title"><%= block.child_value('title_2') %></h5>
				<div class="letter-content">
					<%== block.child_value('content_2') %>
				</div>
			</div>
			<div class="unit1of3" style="min-height:1px;">
<!-- 				<div class="letter-icon" style="background-image:url('//d9hjv462jiw15.cloudfront.net/assets/arc/images/letter_3.jpg');">
					<span class="letter" style="padding:4px 3px 0 0;"><%= block.child_value('letter_3') %></span>
				</div>
				<h5 class="letter-title"><%= block.child_value('title_3') %></h5>
				<div class="letter-content">
					<%== block.child_value('content_3') %>
				</div> -->
			</div>
		</div>
	</div>
</div>