<% 
  height = block.child_value("height").blank? ? "500px" : block.child_value("height")
  if !height.include?("px")
    height = height + "px"
  end
  lat = block.child_value('default_latitude').blank? ? 0.0 : block.child_value('default_latitude').to_f
  lng = block.child_value('default_longitude').blank? ? 0.0 : block.child_value('default_longitude').to_f
  zoom = block.child_value('default_zoom').blank? ? 12 : block.child_value('default_zoom').to_i
%>

<div class="real-estate-map-container loading" id="block_<%= block.id %>">
	<div class="filter-bar">
    <form id="map-filter-form">
    	<div class="field text">
    		<input type="text" id="address" name="address" placeholder="Address, City, ZIP code" />
    		<label for="address">Location</label>
    	</div>
      <div class="field select">
      	<select class="custom" name="radius" id="radius">
      		<option value="1609">1 mile</option>
      		<option value="3218">2 miles</option>
      		<option value="4828" selected>3 miles</option>
	        <option value="8046">5 miles</option>
	        <option value="16093">10 miles</option>
	        <option value="40233">25 miles</option>
	        <option value="80467">50 miles</option>
	        <option value="160934">100 miles</option>
	      </select>
	      <label for="radius">Distance</label>
      </div>
      <div class="field select">
        <select class="custom" name="kind" id="kind">
          <option value="Any">Any</option>
          <% Morrow::Property.pluq(:category).each do |c| %>
            <option value="<%= c %>"><%= c %></option>
          <% end %>
        </select>
        <label for="kind">Property Type</label>
      </div>
      <div class="field">
      	<input type="submit" value="Search" class="btn" />
      	<label for="submit"><a href="#" id="clear-map-filter">Clear</a></label>
      </div>
    </form>
  </div>
  <div class="loading-screen"></div>
  <div class="map-wrapper">
  	<div class='map' id="map-<%= block.id %>" style="height:<%= height %>;"></div>
  	<div id="filter-message"><p>Loading...</p></div>
  </div>
</div>

<% content_for :js do %>
  <%= javascript_include_tag "cluster.js" %>
  <script>
    function init_map2() {
    	rmc = new PropertyMapController({
     		authenticity_token: '<%= form_authenticity_token %>',
     		map_el: $("#map-<%= block.id %>"),
     		protocol: "<%= request.protocol %>",
     		site_slug: "<%= site.name %>",
     		default_lat: <%= lat %>,
     		default_lng: <%= lng %>,
     		default_zoom: <%= zoom %>,
     		marker_width: <%= block.child_value('marker_icon_width').blank? ? 30 : block.child_value('marker_icon_width').to_i %>,
     		marker_height: <%= block.child_value('marker_icon_height').blank? ? 39 : block.child_value('marker_icon_height').to_i %>,
     		cluster_font_color: "<%= block.child_value('cluster_font_color').blank? ? 'white' : block.child_value('cluster_font_color') %>",
     		map_style: "<%= block.child_value('map_style') %>",
     //		image_base: "http://www.westalabamamls.com/ListitTuscaloosa/media/"
     	});
    }
    function loadScript() {
		  var script = document.createElement('script');
		  script.type = 'text/javascript';
		  script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAjSs-Jq6hpuT35RG9wD6LuqaDFzYDCOPk&callback=init_map2";
		  document.body.appendChild(script);
		}
		window.onload = loadScript;
  </script>
<% end %>