<% 

  sc = Caboose::SocialConfig.where(:site_id => site.id).last
  fbid = sc ? sc.facebook_page_id : ''
 # twun = sc ? sc.twitter_username : ''
 # igun = sc ? sc.instagram_username : ''
 # ytun = sc ? sc.youtube_url : ''

	@fb = FacebookCache.where(:site_id => site.id).order("date_created DESC").take(15)
	#@tw = TwitterCache.where(:site_id => site.id).order("created_at DESC").take(15)
	#@ig = InstagramCache.where(:site_id => site.id).order("date_created DESC").take(15)
#	@yt = YoutubeCache.where(:site_id => site.id).order("uploaded_at DESC").take(15)

	@fb_index = 0
	#@tw_index = 0
	#@ig_index = 0
	#@yt_index = 0

	total = @fb.count# + @tw.count + @ig.count + @yt.count
	total_limit = 4

	index = 0

	def next_fb
		if @fb_index < @fb.count
			this = @fb[@fb_index]
			@fb_index += 1
			return this
		else
			return nil
		end
	end

	# def next_tw
	# 	if @tw_index < @tw.count
	# 		this = @tw[@tw_index]
	# 		@tw_index += 1
	# 		return this
	# 	else
	# 		return nil
	# 	end
	# end

	# def next_ig
	# 	if @ig_index < @ig.count
	# 		this = @ig[@ig_index]
	# 		@ig_index += 1
	# 		return this
	# 	else
	# 		return nil
	# 	end
	# end

	# def next_yt
	# 	if @yt_index < @yt.count
	# 		this = @yt[@yt_index]
	# 		@yt_index += 1
	# 		return this
	# 	else
	# 		return nil
	# 	end
	# end
%>

<div class="social-media-grid-block clearfix" id="block_<%= block.id %>">
	<% if total > 0 %>
		<% while index < total && index < total_limit %>
			<% p = next_fb %>
			<% if p %>
				<%
		    	message = p.message.nil? ? "" : p.message.truncate(300)
	        story = p.story.nil? ? "" : p.story.truncate(300)
	        description = p.description.nil? ? "" : p.description.truncate(300)
			    picture = p.picture
	        link = p.link
		    %>
				<div class="post facebook" data-href="<%= p.post_url %>">
					<div class="blurb"></div>
					<div class="contain">
						<div class="table">
							<div class="table-cell">
								<% if !picture.blank? %>
		              <% if !link.blank? %><a href="<%= link %>" target="_blank"><% end %>
		                <img src="<%= picture %>" class="post-image" />
		              <% if !link.blank? %></a><% end %>
		            <% end %>
		            <% if !story.blank? %><p class="post-story"><%== story %></p><% end %>
		            <% if !message.blank? %><p class="post-body"><%== message %></p><% end %>
		          </div>
		        </div>
            <p class="icon-circle-facebook"></p>
					</div>
				</div>
			<% end %>
			<% index += 1 %>
		<% end %>
	<% else %>
		<% if editing %>
			<p style="padding:10px;background:#fff;border:1px solid gray;text-align:center;">Empty social media grid. Please make sure usernames are set in Social Media settings and allow 10 minutes for the feed to refresh.</p>
		<% end %>
	<% end %>
</div>

<% content_for :js do %>
	<script>
		// if ($(window).width() > 800) {
		// 	$("#block_<%= block.id %> .post.youtube").YouTubePopup({ hideTitleBar: true, showBorder: false, height: 390, overlayOpacity: 0.8 });
		// }
		// $(window).load(function(){
	 //    $('#block_<%= block.id %>').imagesLoaded(function() {
	 //    	$('#block_<%= block.id %>').masonry({ 
		//       columnWidth:'.post',
		//       itemSelector: '.post',
		//       animate: true
		//     });
	 //    });
		// });
		<% if !editing %>
			// if ($(window).width() < 800) {
			// 	$("#block_<%= block.id %> .post.youtube").click(function(event) {
			// 		event.preventDefault();
		 //    	var win = window.open($(this).data("href"), '_blank');
			// 		win.focus();
			// 	});
			// }
			$("#block_<%= block.id %> .post").not(".youtube").click(function(event) {
	    	event.preventDefault();
	    	var win = window.open($(this).data("href"), '_blank');
				win.focus();
	    });
	  <% end %>
	</script>
<% end %>