<% if @sale_categories %>
	<%= render :partial => "caboose/blocks/junkyardbots/product_sales" %>
<% elsif @product %>
	<%= render :partial => "caboose/blocks/junkyardbots/product_details" %>
<% elsif @category %>
	<% if params[:vendor_id] %>
		<%= render :partial => "caboose/blocks/junkyardbots/vendor_products", :locals => { :vendor_id => params[:vendor_id] } %>
	<% elsif params[:query]  %>
		<%= render :partial => "caboose/blocks/junkyardbots/search_results", :locals => { :query => params[:query] } %>
	<% else %>
		<%= render :partial => "caboose/blocks/junkyardbots/product_index" %>
	<% end %>
<% else %>
	<p>Invalid product.</p>
<% end %>