<%
#bg_img = block.child_value('background_image')
cat = Caboose::MediaCategory.where(:id => 1198).first
images = cat.media
%>

<div class="header-wrapper" id="block_<%= block.id %>">
  <div class="banner">
    <% if images && images.count > 0 %>
      <div class='bslide' id='slide0' style="background-image:url(<%= images.first.image.url(:huge) %>);"></div>
    <% end %>
    <div class="overlay"></div>
    <div class="text-wrapper">
      <h1 class="logo">TCRIC</h1>
      <h2 class="subtitle">Tuscaloosa County Road Improvement Commission</h2>
      <div class="richtext next-meeting">
        <%== block.child_value('next_meeting') %>
      </div>
      <br />
      <div class="scroll">
        <p>scroll down to view interactive map</p>
      </div>
    </div>
    <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
      <span>toggle menu</span>
    </a>
  </div>
  <nav class="reveal">
    <ul>
    <!--   <li class="top-li"><a href="/" title="Home">Home</a></li> -->
      <% pages = Caboose::Page.where(:parent_id => 1960, :hide => false).order(:sort_order).all %>
      <% pages.each_with_index do |p,i| %>
        <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
        <li class="top-li">
          <% if subpages.count > 0 %>
            <%== ApplicationHelper.nav_link(p, editing, false) %>
            <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
              <div class="contain">
                <ul class="level-2">
                  <% subpages.each do |s| %>
                    <li class="li-2">
                      <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                      <% if grandchildren.count > 0 %>
                        <%== ApplicationHelper.nav_link(s, editing, false) %>
                        <ul class="level-3">
                          <% grandchildren.each do |g| %>
                            <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                          <% end %>
                        </ul>
                      <% else %>
                        <%== ApplicationHelper.nav_link(s, editing, false) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <%== ApplicationHelper.nav_link(p, editing, false) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<% content_for :js do %>
  <script>
    $(document).ready(function() {
      <% if images && images.count > 1 %>
        <% images.each_with_index do |m,index| %>
          <% next if index == 0 %>
          $("<div class='bslide' id='slide<%= index %>' style='background-image:url(<%= m.image.url(:huge) %>);display:none;'></div>").insertAfter("#slide<%= index - 1 %>");
        <% end %>
      <% end %>

      var $imgs = $(".header-wrapper .banner").find(".bslide"),
        i = 0;

      function changeImage(){
          var next = (++i % $imgs.length);
          $($imgs.get(next - 1)).fadeOut(700);
          $($imgs.get(next)).fadeIn(700);
      }
      if ( $(window).width() > 700 ) {
        var interval = setInterval(changeImage, 5000);
      }

    });
  </script>
<% end %>


