<%
name = block.child_value('name')
title = block.child_value('title')
photo = block.child_value('photo').url(:large)
bio = block.child_value('bio')
%>
<div class="company-official-block constrain" id="block_<%= block.id %>">
	<% if photo && !photo.include?('placehold') %>
		<div class="image-wrapper">
			<div class="image-holder" style="background-image:url(<%= photo %>);"></div>
		</div>
	<% end %>
	<div class="text-wrapper">
		<h3 class="name"><%= name %></h3>
		<h5 class="title"><%= title %></h5>
		<div class="bio richtext">
			<%== bio %>
		</div>
	</div>
</div>