
<div class="product-index">          
	<div class="constrain">  

	  <h2>On Sale</h2>
		
    <% if @sale_categories.count > 0 %>
            
      <% i = 0 %>
      <% @sale_categories.each do |cat, products| %>
        <h3><%= cat %></h3>
        <div class="media-grid" id="product-grid<%= i %>">
        <% products.each do |p| %>          
          <div class="media-box <%= cat %>" id="product-<%= p.id %>">
            <div class="product-sale">SALE</div>
            <div class="media-box-image">
              <% img = p.featured_image ? (p.featured_image.url(:large).include?('placehold') ? '//d9hjv462jiw15.cloudfront.net/assets/barkyeah/images/missing_image.jpg' : p.featured_image.url(:large)) : ('//d9hjv462jiw15.cloudfront.net/assets/barkyeah/images/missing_image.jpg') %>
              <div class="image-wrap" data-width="250px" data-height="250px" data-thumbnail="<%= img %>" style="background-image:url(<%= img %>);"></div>
              <div class="thumbnail-overlay">
                <% min_price = number_to_currency(p.price_range[0]) %>
                <% max_price = number_to_currency(p.price_range[1]) %>
                <% display_price = (min_price == max_price) ? min_price : (min_price + " - " + max_price) %>
                <% if min_price != "$100,000.00" && max_price != "$0.00" %>
                  <span class="product-price"><%= display_price %></span>
                <% end %>
              </div>
            </div>
            <% if min_price != "$100,000.00" && max_price != "$0.00" %>
              <div class="product-mobile-price conceal"><%= display_price %></div>
            <% end %>
            <div class="product-title"><%= p.title %></div>
            <!--<div class="product-category"><%= cat %></div>-->              
          </div>
        <% end %>
        </div>
        <% i = i + 1 %>
      <% end %>
      

      <% content_for :css do %>
        <style>
          .product-index h2 { color: #fff; text-align: center; }
          .product-index h3 { color: #fff; }
          .product-category {
            background: rgb(218, 197, 197);
            color: black;
            text-align: center;
            padding: 4px;
            z-index: 4;
          }
        </style>
      <% end %>
  
      <% content_for :js do %>
        <script>
          // Initialize the product grid
          <% i = 0 %>
          <% @sale_categories.each do |cat, products| %>
            $('#product-grid<%= i %>').mediaBoxes({
              boxesToLoadStart: 20,
              boxesToLoad: 8,
              search: '#search',
              horizontalSpaceBetweenBoxes: 10,
              verticalSpaceBetweenBoxes: 10,
              searchTarget: '.product-title',
              noMoreEntriesWord: ""
            });
            $("#product-grid<%= i %> .media-box, #product-grid .media-box-hidden").each(function() {
              $(this).click(function(event) {
                window.location = "/products/" + $(this).attr("id").replace("product-","");
              });
            });
            <% i = i + 1 %>
          <% end %>
        </script>
      <% end %>

    <% else # no products matching query %>

      <div class="no-products">
        <p>Sorry, no products are currently on sale.</p>
      </div>

    <% end %>

  </div>
</div>

<% content_for :js do %>
  <script>
    // Fix the placeholder bug
    $(window).load(function() {
      $("#search").val("");
      $("#search").change();
    });
  </script>
<% end %>
