<% columns = block.child_value('columns').blank? ? 4 : block.child_value('columns') %>
<% title = !block.child('section_title') ? "Recent News" : block.child_value('section_title') %>
<% cat = Caboose::PostCategory.where(:id => 223).first %>
<% posts = cat.posts.where(:site_id => site.id, :published => true).order("created_at DESC").limit(columns) %>
<div class="news-grid-block" id="block_<%= block.id %>">
	<h2 class="section-title"><%= title %></h2>
	<div class="constrain">
		<% if posts.count > 0 %>
			<div class="grid-row">
				<% posts.each_with_index do |p| %>
					<div class="post-unit clearfix unit1of<%= columns %>">
<!-- 						<div class="contain"> -->
							<div class="image-holder" style="background-image:url(<%= p.image.url(:large) %>);">
								<a href="<%= p.uri %>" title="<%= p.title %>" class="overlay">
									<div class="table">
										<div class="table-cell">
											<h4 class="post-title"><%= p.title %></h4>
											<% src_text = p.preview %>
										  <% if p.preview.blank? && !p.body.blank? %>
												<% src_text = p.body %>
										  <% end %>
										  <% if !src_text.blank? %>
						            <div class="post-excerpt">
						              <% 
						                html = Nokogiri::HTML( src_text ) 
						                text = html.at('body').inner_text
						                words = text.blank? ? "" : text.split[0..12] 
						              %>
						              <% if !words.blank? && words.count > 11 %>
						              	<%= words.blank? ? "" : words.join(' ') + " ..." %>
						              <% else %>
														<%= words.blank? ? "" : words.join(' ') %>
						              <% end %>
						            </div>
						      		<% end %>
										</div>
									</div>
								</a>
							</div>
		   <!--      </div> -->
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>