<%
sc = Caboose::SocialConfig.where(:site_id => site.id).last
%>

<footer class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <div class="grid-row">
      <div class="unit1of4 left">
        <div class="richtext"><%== block.child_value('left_text') %></div>
        <img src="//d9hjv462jiw15.cloudfront.net/assets/colcth/images/colonnade.png" alt="Colonnade Group" />
      </div>
      <div class="unit1of2 middle">
        <h4 class="unit-title">Twitter</h4>
        <% tweets = TwitterCache.where(:site_id => site.id).order("created_at DESC").limit(2) %>
        <% if tweets && tweets.count > 0 %>
          <ul class="tweets">
            <% tweets.each do |t| %>
              <li class="tweet">
                <h6 class="username">@<%= sc.twitter_username %> <span class="date"><%= time_ago_in_words(t.created_at) %> ago</span></h6>
                <%== t.body %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%== ApplicationHelper.social_links(site.id, "icon", "white") %>
      </div>
      <div class="unit1of4 right">
        <div class="richtext"><%== block.child_value('right_text') %></div>
        <p class="copyright">Copyright &copy; <%= DateTime.now.strftime("%Y") %> Colonnade Group. All rights reserved.</p>
        <section class="nine">
          <span>Powered and loved by:</span>
          <a href="http://www.nine.is" target="_blank">
            <%= render 'svg/nine' %>
          </a>
        </section>
      </div>
    </div>
  </div>
</footer>