<ul id="block_<%= block.id %>" class="contact constrain grid-row">
  <li class="unit1of3">
    <h4>Location</h4>
    <p><%= block.child_value('location') %></p>
    <h4>Phone</h4>
    <p><%= block.child_value('phone') %></p>
    <h4>Email</h4>
    <p><a href="mailto:sweethomefoodbar2@gmail.com"><%= block.child_value('email') %></a></p>
    <h4>Eat Well, be SOCIAL</h4>
    
    <%== ApplicationHelper.social_links(site.id, "circle", "colored") %>
  </li>
  
  <li class="unit2of3">
    <div id="map" class="map" style="height: 600px;"></div>
  </li>
</ul>

<%
  id = "map"
  lat = "33.210596"
  lng = "-87.566408"
  zoom = "18"
  info = "Sweet Home Food Bar"
  height = "600"
%>

<% content_for :js do %>
  <script>
    var mapCanvasId, mapCenterLat, mapCenterLng, mapDefaultZoom;
    var map_style = [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}];

    mapCanvasId = "<%= id %>";
    mapCenterLat = <%= lat %>;
    mapCenterLng = <%= lng %>;
    mapDefaultZoom = <%= zoom %>;
    mapInfoWindow = "<p style='padding:8px;'><%= info %></p>";

    function initialize() {
      console.log("initialize"); 
      var mapOptions = {
        center: new google.maps.LatLng(mapCenterLat, mapCenterLng),
        scrollwheel: false,
        zoom: mapDefaultZoom,
        styles: map_style
      };
      var map = new google.maps.Map(document.getElementById(mapCanvasId), mapOptions);

      var marker = new google.maps.Marker({
        position: {lat: mapCenterLat, lng: mapCenterLng},
        map: map
      });

      if(mapInfoWindow != "") {
        var info = new google.maps.InfoWindow({
          content: mapInfoWindow
        });

        info.open(map, marker);

        google.maps.event.addListener(marker, 'click', function() {
          info.open(map,marker);
        });
      }
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = "https://maps.googleapis.com/maps/api/js?v=3key=AIzaSyDENedoxisMHbY-o895uaR7xp_bPFHo-24&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;

  </script>
<% end %>


