<%
cats = Caboose::PostCategory.where(:site_id => site.id).all
seen_ads = []
limit = block.child_value('posts_to_show').blank? ? 1000 : block.child_value('posts_to_show').to_i
post_limit = (limit == 1000) ? 8 : limit
c = Caboose::PostCategory.where("LOWER(name) = ?", page.slug.gsub("-"," ")).last
if c
  posts = c.posts.where("created_at < ?",DateTime.now).where(:published => true).order("created_at DESC").limit(post_limit)
 # ad_count = Goodgrit::AdvertCategory.where(:post_category_id => c.id).count
  ad_ids = Goodgrit::AdvertCategory.where(:post_category_id => c.id).pluck(:advert_id)
  where2 = ad_ids.count > 0 ? ("id in (" + ad_ids.join(",") + ")") : "" 
  where3 = seen_ads.count > 0 ? ("id NOT IN (" + seen_ads.join(',') + ")") : ""
  ad = ad_ids.count > 0 ? Goodgrit::Advert.where(:status => "Active").where(where2).where(where3).first : nil
  ad_index = rand(8)
else
  posts = Caboose::Post.where("created_at < ?",DateTime.now).where(:site_id => site.id, :published => true).order("created_at DESC").limit(post_limit)
end
offset = posts.count
title = block.child_value('section_title')
%>

<div class="news-list-wrapper clearfix" id="block_<%= block.id %>">
  <% if !title.blank? %><h2 class="section-title"><%= title %></h2><% end %>
    <% if posts.count > 0 %>
      <div class="news-grid-wrapper">
      	<% posts.each_with_index do |p, i| %>
      		<article id="post-<%= p.id %>">
      			<a href="<%= p.uri %>" title="<%= p.title %>">
              <% if p.post_categories.map{|c| c.id}.include?(132) %>
                <div class="exclusive-banner">SUBSCRIBER EXCLUSIVE</div>
              <% end %>
      				<div class="image-holder lazy" data-src="<%= p.image.url(:large) %>"></div>
      			</a>
      			<p class="subtitle"><%= p.subtitle %></p>
      			<a href="<%= p.uri %>" title="<%= p.title %>"><h3><%= p.title %></h3></a>
            <% if !p.preview.blank? %>
        			<div class="excerpt">
        				<% 
                  html = Nokogiri::HTML( p.preview ) 
                  text = html.at('body').inner_text
                  words = text.blank? ? "" : text.split[0..30] 
                %>
                <% if !words.blank? && words.count > 29 %>
                	<%= words.blank? ? "" : words.join(' ') + " ..." %>
                <% else %>
        					<%= words.blank? ? "" : words.join(' ') %>
                <% end %>
        			</div>
            <% end %>
            <% cat = p.post_categories.where("post_categories.id != ? AND post_categories.id != ?",121,132).first %>
            <% if !c && cat && !cat.name.blank? %>
      			  <div class="more">More Stories from <a href="/stories/<%= cat.name.downcase.gsub(' ','-') %>"><%= cat.name %></a></div>
            <% end %>
      		</article>
          <% if ad && i == ad_index %>
            <article class="ad" style="text-align:center;">
              <a href="<%= ad.clickthru_url %>" title="<%= ad.title %>" target="_blank" data-id="<%= ad.id %>">
                <img src="<%= ad.image.url(:large) %>" alt="<%= ad.title %>" style="margin:0 auto;display:block;max-height:231px;" />
              </a>
              <a data-id="<%= ad.id %>" href="<%= ad.clickthru_url %>" target="_blank" title="<%= ad.title %>" class="btn" style="margin-top:20px;">More Info</a>
            </article>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if c %>
        <% if c.id == 132 %>
          <p class="none category">Sorry, this section is for digital subscribers only. Please <a href="/login" title="Login">login</a> or <a href="http://store.goodgritmag.com/collections/subscriptions/" title="Subscribe">subscribe</a>.</p>
        <% else %>
          <p class="none category">Sorry, there are no articles under the category <%= c.name %> yet.</p>
        <% end %>
      <% else %>
        <p class="none">Sorry, no articles were found.</p>
      <% end %>
    <% end %>
</div>
<% if limit == 1000 %>
  <% content_for :js do %>
  	<script type="text/javascript">
      $("article.ad a").click(function() {
        $.ajax({
          url: "/admin/adverts/increment-clicks",
          type: 'put',
          data: {
            advert_id: $(this).data("id")
          },
          success: function(data) {

          }
        });
      });
      var amount = 3, offSet = <%= offset %>, isPreviousEventComplete = true, isDataAvailable = true, post_id = 0, lazyInstance = null;
  //    console.log("offset: " + offSet);
      $(window).scroll(function () {
       if ($(document).height() - ($("footer.main").outerHeight() + 50) <= $(window).scrollTop() + $(window).height()) {
        if (isPreviousEventComplete && isDataAvailable) {
          isPreviousEventComplete = false;
          $.ajax({
            type: "post",
            data: {
            	"amount"   : amount,
            <% if c %>
              "category_id" : <%= c.id %>,
            <% end %>
            	"offset"  : offSet
            },
            url: '/api/posts',
            success: function (result) {
              isPreviousEventComplete = true;
        //      console.dir(result);
              if (result == '') { // no more available
                isDataAvailable = false;
              }
              else {
              	offSet = offSet + (result.length / 4);
              	$.each(result, function(index, post) {
              //    console.dir(post);
              		if ( index % 4 == 0 ) {
              			post_id = post.id;
  	            		$(".news-grid-wrapper").append("<article class='animated fadeInUp' id='post-" + post.id + "' style='display:none;'></article>");
  	            		var article = $("#post-" + post.id);
  	            		article.append("<a href='" + post.uri + "' title='" + post.title + "'><div class='image-holder lazy-"+offSet+"'></div></a>");
  	            		if (post.subtitle)
  	            			article.append("<p class='subtitle'>" + post.subtitle + "</p>");
  	            		else
  	            			article.append("<p class='subtitle'></p>");
  	            		article.append("<a href='" + post.uri + "' title='" + post.title + "'><h3>" + post.title + "</h3></a>");
  	            		if (post.preview)
  	            			article.append("<div class='excerpt'>" + post.preview + "</div>");
  	            		article.append("<div class='more'>More: <a href='#'>Another Story Title Here</a></div>");
              		}
              		else if ( index % 4 == 1 ) {
              			var article = $("#post-" + post_id);
              			if ( post.indexOf("placehold") > -1 )
              				article.find(".image-holder").css("background-image","url('//d9hjv462jiw15.cloudfront.net/assets/goodgrit/images/placeholder.jpg')");
              			else
              				article.find(".image-holder").css("background-image","url(" + post + ")");
              //			article.show();
              		}
                  else if ( index % 4 == 2 ) {
                    var article = $("#post-" + post_id);
                    <% if !c %>
                      if ( post.length > 0 ) {
                        article.find(".more a").html(post);
                        var slug = post.replace(" ","-").toLowerCase();
                        article.find(".more a").attr("href","/stories/" + slug);
                      }
                      else
                        article.find(".more a").html("");
                    <% else %>
                      article.find(".more").html("");
                    <% end %>
              //      article.show();
                  }
                  else if ( index % 4 == 3 ) {
                    var article = $("#post-" + post_id);
                    if ( post == true )
                      article.find("a").first().append("<div class='exclusive-banner'>SUBSCRIBER EXCLUSIVE</div>");
                    article.show();
                  }
              	});
              }
            },
            error: function (error) {
              console.log("Error fetching more posts.");
            }
          });
        }
       }
      });
  	</script>
  <% end %>
<% end %>