<div class="content_wrapper" id='block_<%= block.id %>'>
  <div class="content_body subpage-content">
    <% if controller_view_content && controller_view_content.strip.length > 0 %>
      <% if block.constrain == true %><div class='constrain'><% end %>
      <%= raw controller_view_content %>
      <% if block.constrain == true %></div><% end %>
    <% elsif post %>
      <%= raw block.partial('post', local_assigns) %>
    <% elsif block.children.count > 0 %>
      <%
      constrain_all = block.constrain_all
      outer_header = block.constrain == true ? (constrain_all ? "<div class='constrain'>" : '') : ''
      outer_footer = block.constrain == true ? (constrain_all ? "</div>" : '') : ''
      inner_header = block.constrain == true ? (constrain_all ? '' : "<div class='constrain'>") : ''
      inner_footer = block.constrain == true ? (constrain_all ? '' : "</div>") : ''
      %>
      <%= raw outer_header %>
      <% block.children.each do |b| %>
        <% if block.constrain && !b.full_width %><%= raw inner_header %><% end %>
        <%= raw block.render(b, local_assigns) %>
        <% if block.constrain && !b.full_width %><%= raw inner_footer %><% end %>
      <% end %>
      <%= raw outer_footer %>
    <% else %>
      <% if editing %>
        <p style="border:1px dashed gray;padding:10px;">Empty content area. Click to add child blocks.</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pswp" id="pswp_<%= block.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div> 
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>