<%
title = block.child_value('title').blank? ? (page ? page.title : 'Page Title') : block.child_value('title')
title = post ? post.title : title
subtitle = block.child_value('subtitle')
bgimg = block.child_value('banner_image')
mc = Caboose::MediaCategory.where(:id => 3222).first
bn = mc && mc.media.count > 0 ? mc.media.offset( rand(mc.media.count) ).first : nil
img_url = bgimg && bgimg.url && !bgimg.url.include?('placehold') ? bgimg.url(:huge) : (bn ? bn.image.url(:huge) : asset_path('timberlake/images/banner' + rand(8).to_s + '.jpg') )
%>

<div class="header-wrapper" id="block_<%= block.id %>">
  <header class="main subpage">
    <div class="constrain">
      <a class="logo-link" href="/" title="<%= site.description %>">
        <img src="<%= asset_path 'timberlake/images/main_logo.png' %>" alt="<%= site.description %>" width="65" height="52" />
      </a>
      <nav class="reveal">
        <ul class="clearfix">
          <% pages = Caboose::Page.index_page(site.id) ? Caboose::Page.index_page(site.id).children.where(:hide => false).order(:sort_order).all : [] %>
          <% pages.each_with_index do |p,i| %>
            <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
            <li class="top-li <% if p.page_tags.where(:tag => 'featured').exists? %>highlight<% end %>">
              <% if subpages.count > 0 %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
                <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
                  <div class="contain">
                    <ul class="level-2">
                      <% subpages.each do |s| %>
                        <li class="li-2">
                          <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                          <% if grandchildren.count > 0 %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                            <ul class="level-3">
                              <% grandchildren.each do |g| %>
                                <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                              <% end %>
                            </ul>
                          <% else %>
                            <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% else %>
                <%== ApplicationHelper.nav_link(p, editing, false) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div class="icon-holder reveal">
        <ul>
          <li><a href="tel:2056628798 "><span class="icon2-android-call"></span></a></li>
          <li><a href="/contact"><span class="icon2-chatbubble"></span></a></li>
          <li><a href="/learn/who-we-are"><span class="icon2-person"></span></a></li>
          <li><a href="/contact"><span class="icon2-android-pin"></span></a></li>
        </ul>
      </div>
      <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
        <span>toggle menu</span>
      </a>
    </div>
  </header>
  <% if !post && (block.child_value('hide_banner').blank? || block.child_value('hide_banner') == 'no') %>
    <div class="subpage-banner" style="background-image:url(<%= img_url %>);">
      <div class="constrain">
        <% if !title.blank? %><h1 class="title"><%= title %></h1><% end %>
        <% if !subtitle.blank? %><h2 class="subtitle"><%= subtitle %></h1><% end %>
      </div>
    </div>
  <% else %>
    <% content_for :css do %>
    <style>
      .sidebar-content-wrapper { min-height: calc(100vh - 110px); }
    </style>  
    <% end %>
  <% end %>
</div>