<div class="special_links" id="block_<%= block.id %>">
  <div class="constrain">
    <a href="<%= block.child_value('link_1_url') %>" class="link">
      <i class="btn-icon-magnifier"></i>
      <h4><%= block.child_value('link_1_text') %></h4>
    </a>
    <a href="<%= block.child_value('link_2_url') %>" class="link">
      <i class="btn-icon-member"></i>
      <h4><%= block.child_value('link_2_text') %></h4>
    </a>
    <a href="<%= block.child_value('link_3_url') %>" class="link">
      <i class="btn-icon-forms"></i>
      <h4><%= block.child_value('link_3_text') %></h4>
    </a>
  </div>
</div>