<header class="main gri">
	<a href="/" class="logo-link" title="Alabama Association of REALTORS">
		<img src="//d9hjv462jiw15.cloudfront.net/assets/aar/images/new_logo2.png" alt="Alabama Association of REALTORS" width="180" height="152">
	</a>
	<div class="top">
		<div class="constrain">
			<% user = controller ? controller.logged_in_user : nil %>
      <% if user && user.id != 2 && user.id != 13883 %>
        <a href="/logout" title="Logout" class="reveal btn logout">Logout</a>
        <a href="/my-account" title="Account" class="reveal btn">Account</a>
      <% else %>
        <a href="#" title="Login" class="reveal btn show-login">Login</a>
      <% end %>
			<%== ApplicationHelper.social_links(site.id, "circle", "colored") %>
			<nav class="reveal">
				<ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/contact" title="Contact">Contact</a></li>
					<li><a href="/media/news" title="News">News</a></li>
					<li><a href="/events/calendar" title="Calendar">Calendar</a></li>
					<li><a href="/media/porch-and-property-alabama" title="Porch and Property">Porch &amp; Property</a></li>
				</ul>
			</nav>
			<a href="#" id="show_menu" class="conceal icon-menu-4" title="Menu"></a>
		</div>
	</div>
	<div class="bottom reveal">
		<div class="constrain">
			<nav>
				<ul>
					<% pages = Caboose::Page.where(:parent_id => 959, :hide => false).order(:sort_order).all %>
	        <% pages.each_with_index do |p,i| %>
	          <li class="top-li">
	            <span><%= p.menu_title.blank? ? p.title : p.menu_title %></span>
	            <div class="dropdown <%= i > 3 ? 'right' : '' %>">
	              <div class="contain">
	                <ul class="level-2">
	                    <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
	                    <% subpages.each do |s| %>
	                      <li class="li-2">
	                        <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
	                        <% if grandchildren.count > 0 && s.id != 73 && s.id != 14 %>
	                          <%== ApplicationHelper.nav_link(s, editing, false) %>
	                          <ul class="level-3">
	                            <% grandchildren.each do |g| %>
	                              <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
	                            <% end %>
	                          </ul>
	                        <% else %>
	                          <%== ApplicationHelper.nav_link(s, editing, false) %>
	                        <% end %>
	                      </li>
	                    <% end %>
	                  </ul>
	              </div>
	            </div>
	          </li>
	        <% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>