<%
name = block.child_value('name')
title = block.child_value('title')
bio = block.child_value('bio')
photo = block.child_value('photo')
%>
<div class="person-block clearfix" id="block_<%= block.id %>">
	<div class="image-holder">
		<% if photo.url && !photo.url.include?('placehold') %>
			<img src='<%= photo.url(:large) %>' alt="<%= name %>" />
		<% end %>
	</div>
	<div class="text-holder">
		<h3 class="name"><%= name %></h3>
		<h4 class="title"><%= title %></h4>
		<div class="bio richtext"><%== bio %></div>
	</div>
</div>