<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if !IE]><!--> <html lang="en"><!--<![endif]-->
<!--[if lt IE 9]><script src="/html5shiv.js"></script><![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title><%= raw page.head_title %></title>
    <meta name="description" content="<%= page.meta_description %>" />
    <meta name="keywords" content="<%= page.meta_keywords %>" />
    <meta name="viewport" content="width=device-width" />
    <%= render :partial => "caboose/blocks/wardscott/icons" %>     
    <script src="//use.typekit.net/whk7fmz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= raw css %>
    <%= raw csrf_meta_tags %>
  </head>  
  <body>
    <div id="sidr" style="display:none;">
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <% Caboose::Page.where(:parent_id => 65, :hide => false).order(:sort_order).all.each do |p| %>
            <li><%== ApplicationHelper.nav_link(p, editing, false) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container" id='block_<%= block.id %>'>
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <%= raw block.render('header' , local_assigns) %>
      <%= raw block.render('content', local_assigns) %>
      <%= raw block.render('footer' , local_assigns) %>      
    </div>
  <%= raw js %>
  </body>
</html>
