<% p = @product %>

<div class="product-details loading" id="product" data-id="<%= p.id %>">
  <% if p.product_images.count > 0 %>   
    <div class="loading-text">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/osp/images/icons/loading.gif" width="35" height="35" />
      <h3>Loading product...</h3>
    </div>
  <% end %>
  <div class="constrain">
    <% cat = @product.categories.first %>
    <% if p.product_images.count > 0 %>
      <div id="product-images"></div>
    <% end %>
    <div class="left-text-wrapper">
      <h1 class="product-title"><%= @product.title %></h1>

      <section class="product-details-wrapper">
        <div id="product-price"></div>
        <% if !@product.caption.blank? %>
          <div class="caption">
            <%= @product.caption %>
          </div>
        <% end %>
        <div id="product-options"></div>
        <div id="add-to-cart"></div>
      </section>
    </div>

    <% unless @product.description.nil? or @product.description.empty? %>
      <div class="desc box">
        <h5><span>Description</span></h5>
        <%== @product.description %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :css do %>
  <%= stylesheet_link_tag 'caboose/product_images' %>
  <%= stylesheet_link_tag 'caboose/product_options' %>
<% end %>

<%= content_for :js do %>
  <%= javascript_include_tag 'caboose/imageZoom' %>
  <%= javascript_include_tag 'caboose/cart_old' %>
  <%= javascript_include_tag 'caboose/product' %>
<% end %>