<% offset = block.child_value('offset').blank? ? 0 : block.child_value('offset') %>
<% products = Caboose::Product.where(:site_id => site.id, :status => "Active", :featured => true).offset(offset).take(4) %>
<% # products = Caboose::Product.where(:site_id => 91).take(4) %>
<% if products.count > 0 %>
	<div class="featured-products" id="block_<%= block.id %>">
		<div class="grid-row">
			<% products.each do |p| %>
				<div class="unit1of4">
					<% img = p.featured_image ? (p.featured_image.url(:large).include?('placehold') ? '//d9hjv462jiw15.cloudfront.net/assets/lockerroom/images/missing_image.jpg' : p.featured_image.url(:large)) : ('//d9hjv462jiw15.cloudfront.net/assets/lockerroom/images/missing_image.jpg') %>
					<a class="product-container" href="/products/<%= p.id %>" title="<%= p.title %>" style="background-image:url(<%= img %>);">
						<div class="overlay">
							<h4 class="product-name"><%= p.title %></h4>
							<% min_price = number_to_currency(p.price_range[0]) %>
	            <% max_price = number_to_currency(p.price_range[1]) %>
	            <% display_price = (min_price == max_price) ? min_price : (min_price + " - " + max_price) %>
	            <% if min_price != "$100,000.00" && max_price != "$0.00" %>
	            	<h5 class="product-price"><%= display_price %></h5>
	            <% end %>
						</div>
					</a>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<% if editing %>
		<p style="padding:15px;border:1px solid gray;text-align:center;" id="block_<%= block.id %>">There are no featured products.</p>
	<% end %>
<% end %>

