<div class="product-index">          
	<div class="constrain">  

		<div class="product-navigation">
			<div class="breadcrumbs">
        <ul>
          <li><a href="/products" title="All Products">All Products</a></li>
          <li><a href="#">Search Results</a></li>
        </ul>
      </div>
		</div>

    <% if defined?(query) && !query.blank? %>

      <% @products = Caboose::Product.where(:site_id => @site.id, :status => "Active").where("title ILIKE ?","%#{query}%").all %>

      <% if @products.count > 0 %>

        <div class="product-grid">
          <% @products.each do |p| %>
            <% if p.categories.count > 0 %>
              <% cats = p.categories.last.ancestry.collect{|a| a.slug} %>
              <% cats = cats.join(' ') %>
            <% else %>
              <% cats = "" %>
            <% end %>
            <% next if p.nil? %>
            <% next if p.status != Caboose::Product::STATUS_ACTIVE %>                 
            <% cats = p.categories.last.ancestry.collect{|a| a.slug} %>
            <% cats = cats.join(' ') %>
            <div class="product-unit <%= cats %>">
              <div class="contain">
                <% if p.on_sale %><div class="product-sale">SALE</div><% end %>
                <% img = p.featured_image ? (p.featured_image.url(:large).include?('placehold') ? '//d9hjv462jiw15.cloudfront.net/assets/lockerroom/images/missing_image.jpg' : p.featured_image.url(:large)) : ('//d9hjv462jiw15.cloudfront.net/assets/lockerroom/images/missing_image.jpg') %>
                <div class="image-holder" style="background-image:url(<%= img %>);"></div>
                <div class="overlay">
                  <div class="table">
                    <div class="table-cell">
                      <div class="text-wrapper">
                        <h3 class="product-title"><%= p.title %></h3>
                        <% min_price = number_to_currency(p.price_range[0]) %>
                        <% max_price = number_to_currency(p.price_range[1]) %>
                        <% display_price = (min_price == max_price) ? min_price : (min_price + " - " + max_price) %>
                        <% if min_price != "$100,000.00" && max_price != "$0.00" %>
                          <h4 class="product-price"><%= display_price %></h4>
                        <% end %>
                        <a href="<%= p.url %>" class="btn">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% else # no products matching query %>

        <div class="no-products">
          <p>Sorry, no products were found.</p>
        </div>

      <% end %>

    <% else # empty query %>

      <div class="no-products">
        <p>Sorry, no products were found.</p>
      </div>

    <% end %>

  </div>
</div>