<header class="main home" id="block_<%= block.id %>">
  <div class="constrain">
    <a class="logo-link" href="/" title="<%= site.description %>">
      <img src="//d9hjv462jiw15.cloudfront.net/assets/evolve/images/main_logo.png" alt="<%= site.description %>" width="180" height="36" />
    </a>
    <nav class="reveal">
      <ul>
        <li class="top-li"><a href="/" title="Home">Home</a></li>
        <% pages = Caboose::Page.where(:parent_id => 2183, :hide => false).order(:sort_order).all %>
        <% pages.each_with_index do |p,i| %>
          <% subpages = Caboose::Page.where(:parent_id => p.id, :hide => false).order(:sort_order).all %>
          <li class="top-li">
            <% if subpages.count > 0 %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
              <div class="dropdown <%= (pages.count - i < 3) ? 'right' : '' %>">
                <div class="contain">
                  <ul class="level-2">
                    <% subpages.each do |s| %>
                      <li class="li-2">
                        <% grandchildren = s.children.where(:hide => false).order(:sort_order).all %>
                        <% if grandchildren.count > 0 %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                          <ul class="level-3">
                            <% grandchildren.each do |g| %>
                              <li><%== ApplicationHelper.nav_link(g, editing, false) %></li>
                            <% end %>
                          </ul>
                        <% else %>
                          <%== ApplicationHelper.nav_link(s, editing, false) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% else %>
              <%== ApplicationHelper.nav_link(p, editing, false) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <a id="menu-icon" class="cmn-toggle-switch cmn-toggle-switch__htx conceal" href="#mmenu" title="Menu">
      <span>toggle menu</span>
    </a>
  </div>
</header>